<html>
  <head>
    <title>Potin n°<%=page%></title>
  </head>
  <body>
    <h1>La page des potins</h1>
      <p>Voici la page du potin n°<%=page%></p>
      <p>Ce ragot à été confié au tavernier par : <%= gossip[0] %></p>
      <p>Voici ce que dis le ragot : <%= gossip[1] %></p>
      <p><a href="/">Retourner dans la salle de l'auberge</a></p>
  </body>
</html>
